---
const socialPlatform = ["Instagram", "LinkedIn", "TikTok"];
const userName = ["myadvoorg", "company/advocacy-resources/", ""];
---

<footer>
    <div class="row flex-wrap">
        <div class="column text-left">
            <p>Privacy Policy</p>
            <p>Terms of Use</p>
            <p>About Us</p>
            <p>Contact</p>
        </div>
        <div class="column text-center">
            <a href={`https://www.${socialPlatform[0]}.com/${userName[0]}`}>{socialPlatform[0]}</a>
            <a href={`https://www.${socialPlatform[1]}.com/${userName[1]}`}>{socialPlatform[1]}</a>
            <a href="">{socialPlatform[2]}</a>
        </div>
        <div class="column text-right">All Right Reserved &copy2024</div>
    </div>
</footer>

<style>
    footer {
        padding: 3rem;
    }
    p,
    a {
        display: inline;
        margin-right: 2rem;
    }
    .column {
        float: left;
        width: 33.33%;
    }
    .row {
        padding: 0rem 4rem;
    }
</style>
